<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProfile name="prod">
    <conversionRule conversionWord="m" converterClass="com.sozureke.auth_server.logging.MaskingMessageConverter"/>
    <conversionRule conversionWord="msg" converterClass="com.sozureke.auth_server.logging.MaskingMessageConverter"/>
    <conversionRule conversionWord="message" converterClass="com.sozureke.auth_server.logging.MaskingMessageConverter"/>
  </springProfile>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
